<div style="padding-bottom:10px;">
        <!-- <div id="img-parallax" class="parallax"></div> -->
    <form id="order">
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <!-- Container element -->
                    <h3>Banco de Pedidos</h3>
                    <div style="padding:0px; text-align:left;" class="col-lg-12">
                        <div class="row">
    
                          <div class="col-lg-4 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="Nome"><span id="required">*</span>Nome</label>
                                    <input type="text" class="form-control" aria-describedby="nameHelp">
                                </div>
                          </div>
    
                          <div class="col-lg-4 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="Nome"><span id="required">*</span>E-mail</label>
                                    <input type="text" class="form-control" aria-describedby="nameHelp">
                                </div>
                          </div>

                          <div class="col-lg-4 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="Nome"><span id="required">*</span>Telefone</label>
                                    <input type="text" class="form-control" aria-describedby="nameHelp">
                                </div>
                          </div>
    
                        </div><!-- Primeira Linha -->
                    </div><!-- Primeira Linha -->
    
                    <div style="padding:0px; text-align:left;" class="col-lg-12">
                            <div class="row">
    
                                    <div class="col-lg-6 col-md-6 mb-4">
                                            <div class="form-group">
                                                <label for="Telefone"><span id="required">*</span>Marca</label>
                                                <input type="text" class="form-control" aria-describedby="nameHelp">
                                            </div>
                                      </div>
    
                                      <div class="col-lg-6 col-md-6 mb-4">
                                            <div class="form-group">
                                                <label for="Telefone"><span id="required">*</span>Modelo</label>
                                                <input type="text" class="form-control" aria-describedby="nameHelp">
                                            </div>
                                      </div>
    
                            </div><!-- Segunda Linha -->
                    </div><!-- Segunda Linha -->
                    
                    <div style="padding:0px; text-align:left;" class="col-lg-12">
                            <div class="row">
    
                                      <div class="col-lg-12 col-md-6 mb-4">
                                            <div class="form-group">
                                                <label for="Email"><span id="required">*</span>Obervações</label>
                                                <textarea type="text" class="form-control" aria-describedby="nameHelp"></textarea>
                                            </div>
                                      </div>
    
                            </div><!-- Terceira Linha -->
                    </div><!-- Terceira Linha -->
    
                </div><!-- Row -->
            </div><!-- Container -->
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>