<form>
    <div class="form-group">
        <div class="container">
            <div class="row">
                <h3>Dados Pessoais</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                    <div class="row">

                      <div class="col-lg-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome">
                            </div>
                      </div>

                      <div class="col-lg-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Data Nascimento">Data Nascimento:</label>
                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Data Nascimento">
                            </div>
                      </div>

                      <div class="col-lg-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Naturalidade">Naturalidade:</label>
                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Naturalidade">
                            </div>
                      </div>

                      <div class="col-lg-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="CPF">CPF:</label>
                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="CPF">
                            </div>
                      </div>

                    </div><!-- Primeira Linha -->
                </div><!-- Primeira Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="RG">RG:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="RG">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Orgão Emissor">Orgão Emissor:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Orgão Emissor">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Data Emissão">Data Emissão:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Data Emissão">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Possui CNH">Possui CNH:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Possui CNH">
                                        </div>
                                  </div>

                        </div><!-- Segunda Linha -->
                </div><!-- Segunda Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Sexo">Sexo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Sexo">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Estado Civil">Estado Civil:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Estado Civil">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nacionalidade">Nacionalidade:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nacionalidade">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cep">Cep:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cep">
                                        </div>
                                  </div>

                        </div><!-- Terceira Linha -->
                </div><!-- Terceira Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Endereço Residencial">Endereço Residencial:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Endereço Residencial">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nro. /Compl.">Nro. /Compl.:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nro. /Compl.">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Bairro">Bairro:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Bairro">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Estado">Estado:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Estado">
                                        </div>
                                  </div>

                        </div><!-- Quarta Linha -->
                </div><!-- Quarta Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cidade">Cidade:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cidade">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Reside Desde">Reside Desde:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Reside Desde">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Email">Email:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Email">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone Residencial">Telefone Residencial:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone Residencial">
                                        </div>
                                  </div>

                        </div><!-- Quinta Linha -->
                </div><!-- Quinta Linha -->


                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone Celular">Telefone Celular:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone Celular">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome Pai">Nome Pai:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome Pai">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome Mãe">Nome Mãe:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome Mãe">
                                        </div>
                                  </div>

                                  <!-- <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome">Possui CNH</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome">
                                        </div>
                                  </div> -->

                        </div><!-- Sexta Linha -->
                </div><!-- Sexta Linha -->

                <h3>Dados Comerciais</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Empresa">Empresa:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Empresa">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Tipo de Empresa">Tipo de Empresa:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Ocupação">Ocupação:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Ocupação">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Função">Função:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Função">
                                        </div>
                                  </div>

                        </div><!-- Setima Linha -->
                </div><!-- Setima Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Tempo de Serviço">Tempo de Serviço:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Tempo de Serviço">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="CNPJ (Caso Empresário)">CNPJ (Caso Empresário):</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="CNPJ (Caso Empresário)">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cep">Cep:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cep">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Endereço Comercial">Endereço Comercial:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Endereço Comercial">
                                        </div>
                                  </div>

                        </div><!-- Oitava Linha -->
                </div><!-- Oitava Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nro. /Compl.">Nro. /Compl.:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nro. /Compl.">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Bairro">Bairro:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Bairro">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Estado">Estado:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Estado">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cidade">Cidade:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cidade">
                                        </div>
                                  </div>

                        </div><!-- Nona Linha -->
                </div><!-- Nona Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone">Telefone:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Ramal">Ramal:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Ramal">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Salário /Renda (Bruto-R$)">Salário /Renda (Bruto-R$):</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Salário /Renda (Bruto-R$)">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Outros Rendimentos (Bruto-R$)">Outros Rendimentos (Bruto-R$):</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Outros Rendimentos (Bruto-R$)">
                                        </div>
                                  </div>

                        </div><!-- Decima Linha -->
                </div><!-- Decima Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Origem">Origem:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Origem">
                                        </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="(Aposentado/Pensionista) nº Benefício ou Matrícula">(Aposentado/Pensionista) nº Benefício ou Matrícula:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="(Aposentado/Pensionista) nº Benefício ou Matrícula">
                                        </div>
                                  </div>

                        </div><!-- D Primeira Linha -->
                </div><!-- D Primeira Linha -->

                <h3>Referências Bancárias</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Banco">Banco:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Banco">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Agência">Agência:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Agência">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Conta Corrente">Conta Corrente:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Conta Corrente">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cliente Desde">Cliente Desde:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cliente Desde">
                                        </div>
                                  </div>

                        </div><!-- D Segunda Linha -->
                </div><!-- D Segunda Linha -->

                <h3>Referências Pessoais</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome Completo">Nome Completo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome Completo">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Grau Parentesco">Grau Parentesco:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Grau Parentesco">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone Fixo">Telefone Fixo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone Fixo">
                                        </div>
                                  </div>

                        </div><!-- D Terceira Linha -->
                </div><!-- D Terceira Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome Completo">Nome Completo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome Completo">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Grau Parentesco">Grau Parentesco:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Grau Parentesco">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone Fixo">Telefone Fixo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone Fixo">
                                        </div>
                                  </div>

                        </div><!-- D Quarta Linha -->
                </div><!-- D Quarta Linha -->

                <h3>Caso Empresário, Informe</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Nome Contador">Nome Contador:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Nome Contador">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Telefone">Telefone:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Telefone">
                                        </div>
                                  </div>

                        </div><!-- D Quinta Linha -->
                </div><!-- D Quinta Linha -->

                <h3>Especificação do Financiamento</h3>
                <hr/>

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Marca/Modelo">Marca/Modelo:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Marca/Modelo">
                                        </div>
                                  </div>

                                  <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Ano">Ano:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Ano">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Cor">Cor:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Cor">
                                        </div>
                                  </div>

                                  <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="form-group">
                                            <label for="Placa">Placa:</label>
                                            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Placa">
                                        </div>
                                  </div>

                        </div><!-- D Sexta Linha -->
                </div><!-- D Sexta Linha -->

                <div style="padding:0px" class="col-lg-12">
                        <div class="row">

                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="form-group">
                                        <label for="Valor de Entrada">Valor de Entrada:</label>
                                        <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Valor de Entrada">
                                    </div>
                                </div>

                                
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <label for="Número de Parcelas">Número de Parcelas:</label>
                                        <select class="custom-select">
                                            <option value="12">12x</option>
                                            <option value="18">18x</option>
                                            <option value="24">24x</option>
                                            <option value="36">36x</option>
                                            <option value="42">42x</option>
                                            <option value="48">48x</option>
                                          </select>
                                    </div>
                                </div>

                        </div><!-- D Setima Linha -->
                </div><!-- D Setima Linha -->




            </div><!-- Row -->
        </div><!-- Container -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>