<div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="logo">
                    <a  href="" class="navbar-brand"><img src="assets/img/images/logo.png" alt="Logo" /></a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- </div>
            <div class="container"> -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul id="menu" class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/book" routerLinkActive="active">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/financing" routerLinkActive="active">Financiamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <router-outlet></router-outlet>
</div>