/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html * {
    font-family: 'Roboto', sans-serif;
    border-radius: 0px !important;
}

nav{
    background-color: white !important;
}

header{
    padding-top: 133px;
}

#financing, #contact, #order{
    padding-top: 153px;
}

#img-logo{
    background: url('assets/img/images/nepo.png') no-repeat !important;
    width: 400px; /* a largura da imagem */
    height: 100px;  /* a altura da imagem */
}

#required{
    font: 20px arial, sans-serif; 
    color:red;
}


@media (max-width: 992px ) {
    header{
        padding-top: 81px;
    }

    #financing, #contact, #order{
        padding-top: 90px;
    }

    #img-logo{
        background: url('assets/img/images/nepo-lgg.png') no-repeat !important;
        width: 160px;  /* a largura da imagem */
        height: 50px;  /* a altura da imagem */
    }

    #quebra{
        display: none;
    }

    /* #message-alert{
        background-color: #333;
        width: 690px;
        top: 77%;
        position: fixed;     
    } */

}
