/* You can add global styles to this file, and also import other style files */
html * {
    font-family: 'Roboto', sans-serif;
    border-radius: 0px !important;
}

@media (max-width: 992px ) {
    header{
        padding-top: 57px;
    }

    #financing{
        padding-top: 57px;
    }

}
